doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      | Momentum

    //- *** PRELOAD ***
    link(rel="preload" href="./assets/fonts/Lato-Light.woff2" as="font" type="font/woff2" crossorigin)

  body.page
    h1.visually-hidden
      | Momentum
    div.page__top
      button.page__arrow.page__arrow--prev(type="button")
        span.visually-hidden
          | Prev slide
      button.page__arrow.page__arrow--next(type="button")
        span.visually-hidden
          | Next slide
      //- *** DATE ***
      section.section.date
        h2.visually-hidden
          | Date
        p.date__time
          span.date__hour
          span.date__minute
          span.date__second
        p.date__day
        p.date__wrapper
          span.date__greeting
          input.date__input(type="text" placeholder="[Enter your name]" aria-label="username")

      section.section.quotes
        h2.visually-hidden
          | Quotes
        button.quotes__button(type="button")
          span.visually-hidden
            | Update quotes
        p.quotes__text
        p.quotes__author

    div.page__center
      //- *** WEATHER ***
      section.section.weather
        h2.visually-hidden
          | Weather
        input.weather__input(type="text" placeholder="[Enter city]" aria-label="user-city")
        div.weather__data
          p.weather__wrapper
            span.weather__icon
            span.weather__temp
            span.weather__feel
          p.weather__text.weather__descr
          p.weather__text.weather__wind
          p.weather__text.weather__humidity

      //- *** AUDIO PLAYER ***
      section.section.audio-player
        h2.visually-hidden
          | Audio-player
        div.audio-player__controls
          div.audio-player__top
            div.audio-player__description
              div.audio-player__name
              div
                span.audio-player__time 00:00
                | /
                span.audio-player__duration 00:00
            input.audio-player__progress(type="range"
                                         value="0"
                                         min="0"
                                         max="100"
                                         step="1"
                                         aria-label="progress")
          div.audio-player__center
            div.audio-player__buttons
              button.audio-player__button.audio-player__button--prev
                span.visually-hidden
                  | Prev
              button.audio-player__button.audio-player__button--play
                span.visually-hidden
                  | Play/pause
              button.audio-player__button.audio-player__button--next
                span.visually-hidden
                  | Next
            div.audio-player__volume
              button.audio-player__button.audio-player__button--volume
                span.visually-hidden
                  | Volume
              input.audio-player__volume-bar(type="range"
                                             value="50"
                                             min="0"
                                             max="100"
                                             step="1"
                                             aria-label="volume")
        ul.audio-player__playlist

    div.page__bottom
      //- *** SETTINGS ***
      section.settings
        h2.visually-hidden
          | Settings
        p.settings__title
          | Click to hide/show widget
        div.settings__wrapper
          button.settings__button.settings__button--player(type="button" title="Player")
            | P
          button.settings__button.settings__button--weather(type="button" title="Weather")
            | W
          button.settings__button.settings__button--date(type="button" title="Date/time")
            | D
          button.settings__button.settings__button--quotes(type="button" title="Quotes")
            | Q
          button.settings__button.settings__button--footer(type="button" title="Footer")
            | F

      //- *** FOOTER ***
      footer.section.main-footer
        div.main-footer__left
          a.main-footer__link(href="https://github.com/viGITory" target="_blank" title="“This is the way..” (The Mandalorian)")
            | viGITory
          p.main-footer__year
            time(datetime="2021")
              | 2021
        a.main-footer__logo(href="https://rs.school/js" target="_blank")
        span.visually-hidden
          | Rsschool
